.budget{
    padding: 5% 10%;
}

.budget-inner-container{
    text-align: center;
    background-color: #fdf2e9;
    background-size: cover;
    gap: 20px;
    justify-content: center; 
    border-radius: 60px;  
    padding: 40px 16px; 
    flex-direction: column;
    color: black;
}

.budget-image-cards{
    gap: 24px;
    justify-content: center;
  
}

.budget-image{
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    width: 135px;
    aspect-ratio: auto 135/135;
}



@media (max-width: 767px) {
    .budget{
        padding: 5%;
    }
    .budget-image-cards{
       flex-wrap: wrap;

    }
    .budget-image{
        width: 100px;
    }
}

@media (max-width: 840px){
    .budget-image-cards{
        flex-wrap: wrap;
    }
    .budget-image{
        width: 120px;
    }
}