.quickgateways{
  border-radius: 12px;
  background-color: #f6edee;
    padding: 5% 10%;
}

.quick-upper{
  justify-content: space-between;
  margin-bottom: 10px;
}
.first-card, .third-card{
    gap: 20px;
    flex-wrap: wrap;
  
}

.frstimage, .rectimage{
    width: 370px;
    aspect-ratio: 370/190;
    object-fit: cover;
    border-radius: 12px;
}
.secondimage, .thirdimage{
    width: 175px;
    aspect-ratio: 175/190;
    object-fit: cover;
    border-radius: 12px;
}

.squareimage{
    width: 370px;
    aspect-ratio: 350/400;
    height: 400px;
    object-fit: cover;
    border-radius: 12px;
}

.quick-slider-wrapper {
    display: flex;
    gap: 50px;
    transition: transform 0.5s ease-in-out;
    width: 100%;
  }

  .quick-slider-main-wrap{
    overflow: auto;
  }

  .quick-slider-main-wrap::-webkit-scrollbar{
    display: none;
  }
  
  .quick-card-image-container{
    position: relative;
  }

  .quick-desc{
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: white;
  }