/* @import url('https://example.com/sourceSansPro_f37299.css');
@import url('https://example.com/sourceSansPro_Fallback_f37299.css'); */

.press{
    padding: 5% 10%;
    text-align: center;

}
.press h1{
  margin-bottom: 40px;
}
.press-tabs{
    justify-content: space-between;
}

.tab-para{
 font-family: '__sourceSansPro_f37299', '__sourceSansPro_Fallback_f37299' !important;
 font-size: 32px;
 color: grey;
}

.tab-image{
  width: 8%;
  cursor: pointer;
}

.tab-image3{
  width: 5%;
}

.tab-image2{
  width: 12%;
  cursor: pointer;
}

.tab-image4{
  width: 16%;
  cursor: pointer;
}
.tab-image {
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 5px;
  }
  
.tab-image.active::after {
    content: 'hr';
  }
  
  .paragraph-container p {
    display: none;
  }
  
  .paragraph-container p.active {
    margin-top: 40px;
    display: block;
    text-align: center;
  }
  
  @media (max-width: 840px) {
.press-tabs{
  gap: 24px;
  overflow: auto;
}
.tab-image, .tab-image2, .tab-image3, .tab-image4{
  width: 100px;
}
.tab-para{
  font-size: 22px;
}
  }