.pic-advertisement{
    padding: 0% 10%;
    gap: 24px;
    
}

.vid-advertisement{
    padding: 0% 5% 0% 12%;
    gap: 24px;
}

.categ-cont{
    margin: 7% 10%;
    position: relative;
    top: -130px;
    margin-bottom: 14%;
}
.first-advertisement, .second-advertisement{
    width: 100%;
    border-radius: 12px;
}

.first-advertisement-video, .second-advertisement-video{
    width: 564px;
    border-radius: 12px;
}


.plane-photo{
    width: 690px;
    height: auto;
    z-index: 2;
    position: absolute;
    top: 0;
    cursor: pointer;
}

.modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 6;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  
}

.visa-photo{
    width: 600px;
    position: absolute;
    top: -18px;
    left: 58%;
    cursor: pointer;
}

.cross-btn{
    position: absolute;
    top: -10%;
    right: 2%;
    font-size: 25px;
    cursor: pointer;
}

@media (max-width: 767px) {
    .pic-advertisement, .vid-advertisement{
        flex-wrap: wrap;
    }
    .categ-cont{
        display: flex;
        flex-direction: column;
        top: 0;
        margin: 0px;
        align-items: center;
    }
    .visa-photo, .plane-photo{
        width: 100%;
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
      
    }
    .first-advertisement-video, .second-advertisement-video{
        width: 100%;
    }
}

@media (max-width: 1000px){
    .modal{
        overflow: auto;
    }
    .pic-advertisement, .vid-advertisement{
        flex-wrap: wrap;
    }
    .categ-cont{
        display: flex;
        flex-direction: column;
        top: 0;
        margin: 0px;
        align-items: center;
        padding-left: 10%;
    }
    .visa-photo, .plane-photo{
        width: 100%;
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        
    }
   
    .plane-photo{
        padding-left: 5%;
        margin-bottom: -20px;
    }

    .cross-btn{
        position: absolute;
        top: -6%;
        right: 2%;
        font-size: 25px;
        cursor: pointer;
    }
}

.form-main{
    background-color: white;
    margin: 5% 20% 15% 20%;
   padding: 20px;
   border-radius: 12px;
  text-align: center;
   }
   
   .f{
       position: relative;
   }
   
   .name{
       gap: 40px;
       margin-top: 40px;
       text-align: left;
   }
   
   .lab{
       min-width: 180px;
       font-size: 24px;
       font-weight: 400;
   }
   
   .sub-button{
      margin-top: 20px;
      padding: 10px 20px;
      font-size: 16px;
   }
   
   .in{
       font-size: 20px;
       /* min-width: 400px; */
   }
   
   
   
   @media (max-width: 1000px){
       .form-main{
           margin: 5%;
           padding: 20px;
       }
       .name{
           flex-direction: column;
           gap: 8px;
           align-items: start !important;
           min-width: none !important;
       }
       .in{
           /* min-width: 250px; */
       }
   }