@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
transition: .5s ease-in-out ;
}

a{
  text-decoration: none;
}

.flex{
  display: flex;
  align-items: center;
}